*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #ffc0cb;
  color: #fff;
  padding: 3rem 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}